@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body{
    background-color: rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto 1fr auto;
  
    /* Just for parent demo size */
    height: 100vh;
}


#ilabknow{
    position: relative;
    width: 346px;
    height:71px;
    left:906px;
    top:700px;
    margin-top:0px;
    border: none;

    background: linear-gradient(90deg, rgba(0, 195, 255, 0.674) 20.61%, rgba(0, 195, 255, 0.66) 31.3%, rgba(0, 195, 255, 0.589) 50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    
    font-family:'Roboto','sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 6.85869px 6.85869px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.41deg);
}

.topo-1{
    position: absolute;
    width: 897.05px;
    height: 72px;
    left: 449px;
    top: 391px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 72px;
    text-align: center;

    color: #368cbd;
}

.topo-2{
    position: absolute;
    width: 652.67px;
    height: 77.66px;
    left: 623px;
    top: 570px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
}
.login{
    max-width: 418px;
    max-height: 406px;
    position: absolute;
    left: 60px;
    top: 515px;
}
#top-box{
    max-width: 100%;
    min-height: 900px;
    /*background-color: rgb(185, 32, 32);*/
}
#midle-box{
    
    max-width: 100%;
    min-height: 900px;
    background-color: rgba(7, 207, 194, 0.801);
}


#midle-box h1{
    position: absolute;
    width: 532px;
    height: 68px;
    left: 110px;
    top: 1206px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#midle-box p{
    position: absolute;
    width: 1254px;
    height: 192px;
    left: 151px;
    top: 1558px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#function-box{
    max-width: 100%;
    min-height: 900px;
    background: linear-gradient(85.68deg, #00DE89 16.94%, rgba(0, 255, 137, 0.54) 64.25%, rgba(0, 255, 206, 0.74) 89.15%);
   /* background-color: #bb1414;*/
}
#function-box ul{
    position: absolute;
    display:grid;
    width: 617px;
    height: 56px;
    left: 652px;
    top: 2140px;
    
}

#function-box li {
    font-family:'Roboto';
    font-size:24px;  
    grid-column:1/2;
    margin-bottom: 30px;;
    /*line-height: 60px;*/
}

#function-box button {
    position: absolute;
    width: 442px;
    height: 70px;
    left: 659px;
    top: 1994px;
    border:none;


    background:  rgba(34, 94, 150, 0.88);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius:12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 
#function-box img{
    position: relative;
    border-radius: 20px;
    max-width:355px;
    max-height:675px;
    margin-top:150px;
    left:135px;

}

#guide-box{
    max-width:100%;
    min-height:854px;
    background-image:url(imagens/estadio.png);
    background-size:100%;
}
/*#guide-box iframe {
    position:absolute;
    top:5%;
    left:5%;
    width:70%;
    height: 70%;
}*/
.team{
    max-width: 100%;
    min-height: 793px;
    background: linear-gradient(76.27deg, rgba(34, 94, 150, 0.93) 0%, rgba(0, 195, 255, 0.39) 100%);
}
.team > h1{
    font-family: 'Roboto',sans-serif;
    font-size: 60px;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    color: #ffff;

}
#team-box{
    display:grid;
    grid: repeat(2,1fr)  / repeat(3,1fr);
    padding-left: 20px;
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

#team-box p {
    color:rgba(255, 255, 255, 0.774);
    margin-left:10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    justify-content:center;
    margin-top: 230px;
    padding: 0px;
    justify-items:center;
} 


div.equipe {  
    border:2px solid black;
    width: 300px;
    height: 300px;  
    border-radius: 15px; 
    
}

div.equipe:hover {  
    border:4px solid #ffff;
    width: 310px;
    height: 310px;  
    border-radius: 15px; 
    background-color: rgba(19, 83, 173, 0.681);
    
}

#cx1 {
    background-image:url(imagens/equipe/marcosMenuchi.png);
    background-size:300px 300px;
}
#cx1:hover{
    background-size:310px 310px;
}


div.equipe:hover  {
    background:rgba(16, 148, 204, 0.384);
    display:block;
}

.curriculo{
    text-decoration:none;
}
#cx2 {
    background-image:url(imagens/equipe/marceloHonda.png);
    background-size:300px 300px;
}
#cx2:hover{
    background-size:310px 310px;
}

#cx3 {
    background-image:url(imagens/equipe/matheusAlmeida.png);
    background-size:300px 300px;
}
#cx3:hover{
    background-size:310px 310px;
}

#cx4 {
    background-image:url(imagens/equipe/matheusCardoso.png);
    background-size:300px 300px;
}
#cx4:hover{
    background-size:310px 310px;
}

#cx5 {
    background-image:url(imagens/equipe/tauanNeres.png);
    background-size:300px 300px;
}
#cx5:hover{
    background-size:310px 310px;
}

