@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body{
    background-color: rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto 1fr auto;
}
 main{
    display: grid;
    grid-template-rows: repeat(1fr,5);
 }
.flexColumn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexFunction{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin:2% 0 2% 0;
}


#ilabknow{

    width: 346px;
    height:71px;
    margin-top:50px;
    margin-left: 30px;
    border: none;

    background: linear-gradient(90deg, rgba(0, 195, 255, 0.674) 20.61%, rgba(0, 195, 255, 0.66) 31.3%, rgba(0, 195, 255, 0.589) 50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    
    font-family:'Roboto','sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 6.85869px 6.85869px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.41deg);
}

.topo-1{
    
    width: 897.05px;
    height: 72px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 72px;
    text-align: center;

    color: #368cbd;
}

.topo-2{

    width: 652.67px;
    height: 77.66px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
    margin-top: 70px;
}
.login{
    max-width: 418px;
    max-height: 406px;

}
#top-box{
    max-width: 100%;
    min-height: 900px;
    /*background-color: rgb(185, 32, 32);*/
}
#midle-box{
    
    max-width: 100%;
    min-height: 600px;
    background-color: rgba(7, 207, 194, 0.801);
}


#midle-box h1{

    padding:30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#midle-box p{

    width: 75%;
    height: 192px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#function-box{
    max-width: 100%;
    min-height: 900px;
    background: linear-gradient(85.68deg, #00DE89 16.94%, rgba(0, 255, 137, 0.54) 64.25%, rgba(0, 255, 206, 0.74) 89.15%);
    display:flex;
}

#function-box ul{  
    width: 70%;
    height: 56px;
    margin-top:10%;
    margin-left:3%;
}

#function-box li {
    font-family:'Roboto';
    font-size:24px;  
    grid-column:1/2;
    margin-bottom: 30px;
    /*line-height: 60px;*/
}


#function-box h1 {

    width: 442px;
    height: 70px;

    border:none;
    margin-top:2%;
    background:  rgba(34, 94, 150, 0.88);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius:12px;

    text-align:center;
    align-items:center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}
 
#function-box img{
    border-radius: 20px;
    max-width:355px;
    max-height:605px;
}

#guide-box{
    max-width:100%;
    min-height:854px;
    background-image:url(imagens/estadio.png);
    background-size:100%;
}
/*#guide-box iframe {
    top:5%;
    left:5%;
    width:70%;
    height: 70%;
}*/
.team{
    max-width: 100%;
    min-height: 793px;
    background: linear-gradient(76.27deg, rgba(34, 94, 150, 0.93) 0%, rgba(0, 195, 255, 0.39) 100%);
}
.team > h1{
    font-family: 'Roboto',sans-serif;
    font-size: 60px;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    color: #ffff;

}
#team-box{
    display:grid;
    grid: repeat(2,1fr)  / repeat(3,1fr);
    padding-left: 20px;
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

#team-box p {
    color:rgba(255, 255, 255, 0.774);
    margin-left:10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    justify-content:center;
    margin-top: 230px;
    padding: 0px;
    justify-items:center;
} 


div.equipe {  
    border:2px solid black;
    width: 300px;
    height: 300px;  
    border-radius: 40px; 
    
}

div.equipe:hover {  
    border:4px solid #ffff;
    width: 310px;
    height: 310px;  
    border-radius: 15px; 
    background-color: rgba(19, 83, 173, 0.681);
    
}

#cx1 {
    background-image:url(imagens/equipe/marcosMenuchi.png);
    background-size:300px 300px;
}
#cx1:hover{
    background-size:310px 310px;
}


div.equipe:hover  {
    background:rgba(16, 148, 204, 0.384);
    display:block;
}

.curriculo{
    text-decoration:none;
}
#cx2 {
    background-image:url(imagens/equipe/marceloHonda.png);
    background-size:300px 300px;
}
#cx2:hover{
    background-size:310px 310px;
}

#cx3 {
    background-image:url(imagens/equipe/matheusAlmeida.png);
    background-size:300px 300px;
}
#cx3:hover{
    background-size:310px 310px;
}

#cx4 {
    background-image:url(imagens/equipe/matheusCardoso.png);
    background-size:300px 300px;
}
#cx4:hover{
    background-size:310px 310px;
}

#cx5 {
    background-image:url(imagens/equipe/tauanNeres.png);
    background-size:300px 300px;
}
#cx5:hover{
    background-size:310px 310px;
}

